<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>全村人的希望个人博客</title>
  <link href="/stylesheets/base.css" rel="stylesheet">
  <link href="/stylesheets/about.css" rel="stylesheet">
  <link href="/stylesheets/index2.css" rel="stylesheet">
  <link href="/stylesheets/media.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  <script src="/javascripts/modernizr.js"></script>
</head>
<body>
<div class="ibody">
  <header>
    <h1>全村人的希望</h1>
    <h2>村子是一个会撒谎的精灵，它在虚空中流浪和等待被发现之间;在过去与未来之间....</h2>
    <div class="logo"><a href="#"></a></div>
    <nav id="topnav"><a href="sy">首页</a><a href="about">关于我们</a><a href="newlist">心情随摘</a><a href="share">电影分享</a><a href="news">写影评</a></nav>
  </header>
  <article>
    <h3 class="about_h">您现在的位置是：<a href="#">首页</a>><a href="#">关于我们</a></h3>
    <div class="about">
      <h2>Just about me</h2>
      <ul>
        <p>全村人的希望，男，一个帅气的小哥！16年入行，从业已经有二年。从现在有“单”而居的日子换成了搬砖一样的生活方式。告别了朝八晚五，躲过了风吹日晒，虽然不再有阶梯式的成绩，但是偶尔可以给自己放放假，挽着度娘，一起轻装旅行</p>
        <p> 人生就是一个得与失的过程，而我却是一个幸运者，得到的永远比失去的多。生活的压力迫使我放弃了轻松的村里接待，放弃了体面的村里小编工作，换来虽有些蓬头垢面的工作，但是我仍然很享受那些熬得只剩下黑眼圈的日子，因为学习Photoshop、html5、PHP、JSP使我快乐。</p>
        <p>在这条路上，我要感谢二个人，第一个是马云，是他给了蚂蚁花呗，第二个人是习大大，党的十八大以来，习近平总书记在改革发展稳定、内政外交国防、治党治国治军等诸多方面和领域，表现出高超非凡的领导才干和领导艺术，凸显了其个性鲜明的领导风格及特点，获得点赞，赢得好评，用普通网民的话来形容，展现出了独特的可敬可爱、可亲可近的"主席范儿"、"领袖范儿"。</p>
        <p> 还要特别感谢一个人，是度娘。它是我的百科，我不会的，它会。博客能做到今天这样，一半都有它的功劳。它不仅仅支持我的学习，还支持我的生活。 </p>
      </ul>
      <h2>About my blog</h2>
      <p>微信公众号：全村人的希望</p>
      </ul>
      <h2>The game area</h2>
    </div>
    </br>
    </br>
    </br>
    <iframe src="fj" width="150%"height="689px" frameborder="0" ></iframe>
  </article>
  <aside>
    <div class="avatar"><a href="#"><span>关于全村人的希望</span></a></div>
    <div class="topspaceinfo">
      <h1>希望在左，现实在右</h1>
      <p>于千万人之中，我遇见了我所遇见的人....</p>
    </div>
    <div class="about_c">
      <p>网名：全村人的希望</p>
      <p>职业：Web前端设计师、网页设计 </p>
      <p>籍贯：地球村</p>
      <p>电话：吼</p>
      <p>邮箱：村里人@qq.com</p>
    </div>
    <div class="bdsharebuttonbox"><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_more" data-cmd="more"></a></div>
    <div class="tj_news">
      <h2>
        <p class="tj_t1">最新文章</p>
      </h2>
      <ul>
        <li><a href="#">犯错了怎么办？</a></li>
        <li><a href="#">两只蜗牛艰难又浪漫的一吻</a></li>
        <li><a href="#">春暖花开-走走停停-发现美</a></li>
        <li><a href="#">琰智国际-Nativ for Life官方网站</a></li>
        <li><a href="#">价值圣姑</a></li>
        <li><a href="#">简单手工纸玫瑰</a></li>
        <li><a href="#">人儿呢好滴</a></li>
        <li><a href="#">与你相遇郝星宇</a></li>
      </ul>
      <h2>
        <p class="tj_t2">推荐文章</p>
      </h2>
      <ul>
        <li><a href="#">犯错了怎么办？</a></li>
        <li><a href="#">两只蜗牛艰难又浪漫的一吻</a></li>
        <li><a href="#">春暖花开-走走停停-发现美</a></li>
        <li><a href="#">琰智国际-Nativ for Life官方网站</a></li>
        <li><a href="#">价值圣姑</a></li>
        <li><a href="#">简单手工纸玫瑰</a></li>
        <li><a href="#">人儿呢好滴</a></li>
        <li><a href="#">与你相遇郝星宇</a></li>
      </ul>
    </div>
    <div class="links">
      <h2>
        <p>友情链接</p>
      </h2>
      <ul>
        <li><a href="#">个人博客</a></li>
        <li><a href="#">技术社区</a></li>
      </ul>
    </div>
    <div class="copyright">
      <ul>
        <p> Design by <a href="#">全村人的希望</a></p>
        </p>
      </ul>
    </div>
  </aside>
  <script src="/javascripts/silder.js"></script>
  <div class="clear"></div>
  <!-- 清除浮动 -->
</div>
</body>
</html>
