<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="stylesheets/index.css">
</head>
<body>
<% dirArr.forEach(function(item){ %>
<div>
  <a href="/xc/<%= item %>" class="box"></a>
  <h1><%= item %></h1>
</div>
<% }) %>
</body>
</html>


